# Sets

Another useful datatype that we did not cover is sets.

* Sets might come in useful in HW2, so make sure you go over this notebook and find out how they work! 

Sets are an **unordered** collection of **unique** items. Let's see how they work through examples.

In [12]:
#first let's construct an empty set
my_set = set()
my_set

set()

Our set is empty, so let's start adding items to it

In [13]:
my_set.add(0)
my_set

{0}

In [14]:
my_set.add(1)
my_set.add(2)
my_set

{0, 1, 2}

In [15]:
my_set.add(2)
my_set

{0, 1, 2}

Notice that even though we added 2 for a second time, there is no second 2 in our set. This is because set contain ** unique ** elements, and since 2 was already in there no change was made.

We can also change lists to sets and back by a process that is called casting. (We saw casting before in the context of dictionaries keys and values). Let's see how this works.

In [16]:
my_list = [1,2,3,4,0,2,3,4,5,6,1,2,3]
my_list

[1, 2, 3, 4, 0, 2, 3, 4, 5, 6, 1, 2, 3]

In [17]:
#casting the list to a set - notice how that will eliminate additional occurences of any value
set(my_list)

{0, 1, 2, 3, 4, 5, 6}

Going back to our math education, we can define two common operations between two sets A and B
- **union** the union of A and B is a set that contains any element contained in either A or B
- **intersection** the interection of A and B is a set that contains elements both in A and B

Python sets have the union and interection methods. Let's see an example

In [18]:
A = {0,1,3,5,9,10}
B = {0,2,4,6,8,10}

In [19]:
#union
A.union(B)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10}

In [20]:
#the other way around would give us the same result!
B.union(A)

{0, 1, 2, 3, 4, 5, 6, 8, 9, 10}

In [21]:
#intersection
A.intersection(B)

{0, 10}

In [22]:
B.intersection(A)

{0, 10}

As with every other datatype that we covered, we cannot hope to extensively cover all of the methods/functions available for Python sets. That is carried out in the official Python documentation (*Google: Python sets, and you'll get a ton of results*)